<div class="key-container"> 
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><span class="circle green"></span> High</li>
        <li class="list-group-item"><span class="circle yellow"></span> Med</li>
        <li class="list-group-item"><span class="circle red"></span> Low</li>
    </ul>
</div>
<div class="filter-container">
    <ul class="list-group list-group-flush">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="beds-filter">
            <label class="custom-control-label" for="beds-filter">Beds</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="icu-filter">
            <label class="custom-control-label" for="icu-filter">ICU Beds</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="vent-filter"> 
            <label class="custom-control-label" for="vent-filter">Ventilators</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="n95-filter">
            <label class="custom-control-label" for="n95-filter">N95 Masks</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="surgical-filter">
            <label class="custom-control-label" for="surgical-filter">Surgical Masks</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="resp-filter">
            <label class="custom-control-label" for="resp-filter">Respirators</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="iso-filter">
            <label class="custom-control-label" for="iso-filter">Isolation Gloves</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="gloves-s-filter">
            <label class="custom-control-label" for="gloves-s-filter">Gloves -S</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="gloves-m-filter">
            <label class="custom-control-label" for="gloves-m-filter">Gloves -M</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="gloves-l-filter">
            <label class="custom-control-label" for="gloves-l-filter">Gloves -L</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="gogg-filter">
            <label class="custom-control-label" for="gogg-filter">Goggles</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="face-filter">
            <label class="custom-control-label" for="face-filter">Face Shields</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="sani-filter">
            <label class="custom-control-label" for="sani-filter">Hand Sanitizer</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="soap-filter">
            <label class="custom-control-label" for="soap-filter">Hand Soap</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="clean-filter">
            <label class="custom-control-label" for="clean-filter">Cleaning/Disinfectant</label>
        </div>
    </ul>
</div>
