<div></div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/supply-list">List Of Supplies</a>
    </li>
    <li class="nav-item" [hidden]="buttonVal == 'Log-in'">
      <a class="nav-link" routerLink="/enter-supplies">Enter Supplies</a>
    </li>
    <li class="nav-item" [hidden]="buttonVal == 'Log-in'">
      <a class="nav-link" routerLink="/enter-users">Enter User</a>
    </li>
    <li class="nav-item" [hidden]="buttonVal == 'Log-in'">
        <a class="nav-link" routerLink="/enter-facilities">Enter Facilities</a>
    </li>
  </ul>
  <button hidden class="" type="button" data-toggle="modal" id="open-modal" data-target="#login-model"></button>
  <button type="button" class="btn btn-primary" (click)="modelButtonResponse()">{{buttonVal}}</button>
</nav>
<div id="login-model" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Account Log-in</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="button" class="btn btn-primary" (click)="userInfo()">Submit</button>
      </div>
      <div class="modal-footer">
        <button type="button" id="close-modal" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>