.map-container {
    width: 70%;
    height: 700px;
    position: relative;
    padding: 20px 5px 0 5px;
    float: left;
}

.filter-key-container {
    width: 30%;
    float: right;
    padding: 20px 5px 0 5px;
}